a {
  color: chocolate;
}
.header {
  padding: 1rem 0 3rem;
}
.title {
  color: #335a55;
  font-size: 3rem;
  font-weight: 900;
  text-decoration: none;
}
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0.9rem;
}
.nav-item {
  color: #141414;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}
.nav-item:hover {
  color: coral;
}
.active-nav-item {
  color: coral;
}
